# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
cmd/{{.Blockchain.Binaries.Daemon}}/{{.Blockchain.Binaries.Daemon}}
cmd/{{.Blockchain.Binaries.Client}}/{{.Blockchain.Binaries.Client}}

# release dir
release/
cmd/{{.Blockchain.Binaries.Daemon}}/testnet
