package config

import (
	"github.com/threefoldtech/rivine/types"
)

{{ range $key, $network := .Blockchain.Network }}{{if $network.Genesis.Minting }}
func Get{{ title $key }}GenesisMintCondition() types.UnlockConditionProxy {
	return {{$network.Genesis.Minting | formatConditionAsGoString -}}
}

{{end}}{{end}}
